@import 'src/styles/globals'

.articleText
	@extend .container

.articleHeader
	margin-bottom: 100px

	h1
		font-size: xxx-large

	p
		color: gray

	img
		@extend .borderRadius
		width: 100%

.text
	h1
		margin-block: .67em

	h2
		font-size: 1.5em
		margin-block: .75em

	h3
		font-size: 1.17em
		margin-block: .83em

	h4, p, blockquote, ul, fieldset, ol, dl
		margin-block: 1.12em

	h5
		font-size: .83em
		margin-block: 1.5em

	h6
		font-size: .75em
		margin-block: 1.67em
