.cardWrapper
	border-radius: 10px
	background: no-repeat center / cover
	display: block
	text-decoration: none
	color: black

.card
	display: flex
	align-items: flex-end
	justify-content: flex-end
	padding: 15px
	border-radius: 10px
	background-color: rgba(255,255,255,.6)
	min-height: 200px
