@import 'src/styles/variables'

.footer
	display: flex
	flex-direction: column
	background-color: $accent-red
	margin-top: 135px

.curve
	width: 100%
	height: 300px
	background-size: cover

.content
	padding: 25px
	color: white
	font-size: larger
